@import url("https://fonts.googleapis.com/css?family=Open+Sans");

header {
  padding: 1rem 0;
}

.neutral {
  background: #f0db4f;
}

.success {
  background: #03c74e !important;
}

.error {
  background: #fd3a20;
}

h1 {
  padding: 0;
  margin: 0;
  text-align: center;
  font-weight: 100;
  letter-spacing: 0.15rem;
  color: black;
}
